.title {
  font-size: 2rem;
  text-align: center;
}

.container {
  /*display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;*/
}

.left, .center, .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: space-around;
}

canvas {
  margin: 0 auto;
  border: solid 0.2rem #bbb;
}

img {
  margin:20rem 1rem 1rem 1rem
}
