.title {
  font-size: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.left, .center, .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: space-around;
}

canvas {
  margin: 0 auto;
  border: 0.7rem solid #f1e013;
}

.center {
  border: 0.5rem dashed #f1e013;
}

img {
  margin:20rem 1rem 1rem 1rem
}
