<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>

<div class="container">
  <div class="left">
    <p>The goal of this exercise is to discover all islands in the map and color them with a unique color</p>
    <p>An island is defined by all connecting Land squares to each other</p>
    <p>An island can have a size of 1</p>
    <p>Each square is connected to 8 others squares</p>
    <p>1. Color all islands</p>
    <p>2. Count the number of islands</p>
    <p>3. To go further, you can add an event listener to the canvas element and change the color of the island to the color
      chosen in the text field,</p>
    <p>you should not change the existing code, and only write the necessary code</p>
    <p>Bonus: test your code, personalize css</p>
  </div>

  <div class="center">
    <canvas #canvasElement></canvas>
  </div>

  <div class="right">
    <span>The island color is
      <input [value]="newColor" (change)="onColorChanged($event)" #inputElement></span>
    <br>
    <p>The number of islands is {{numberOfIslands}}</p>
    <p>Generated in {{timeGeneration}}ms</p>
    <img src="https://66.media.tumblr.com/5903fd1ba72dd4ab8d0f71cfc7612e16/tumblr_inline_njxcufYOOD1s7oayg.gif">
  </div>
</div>


